@tailwind base;
@tailwind components;
@tailwind utilities;
.search-form {
    border-color: transparent !important;
}

input:focus {
    outline: none;
    border: 0 !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(1px + var(--tw-ring-offset-width)) transparent !important;
}

input:focus::placeholder {
    color: transparent;
}
